# Hypr plugins
config/hypr/plugins

# Cache
config/nvim/nvim-pack-lock.json

# Matugen Theming
config/kitty/colors.conf
config/hypr/colors.lua
config/shellinit/theme/gum.sh
config/swayosd/style.css
config/mako/config
